.container {
  max-width: 770px;
  margin: 0 auto;
  padding: 0 2rem;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  > div {
    display: flex;
    align-items: center;
    color: var(--gray-300);

    span {
      display: flex;
      align-items: center;

      & + span {
        margin-left: 1rem;
      }

      span {
        margin-left: 0.5rem;
      }
    }
  }
  p {
    margin-top: 1rem;
    margin-bottom: 5rem;
    color: var(--gray-300);
  }
}

.banner {
  img {
    height: 16rem;
    width: 100%;
    object-fit: fill;
  }
}

.content {
  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  div {
    text-align: justify;
    color: var(--gray-300);
    p {
      margin-bottom: 2rem;
    }
    strong {
      color: var(--pink-500);
    }
  }
}
